h1,h2,h3,h4,h6{
  font-family: $title-font;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

h2{
  margin-top: -0.3879em;
  font-size: 2.25em;
  margin-bottom: 0.6em;

  @media (max-width: 550px){
    font-size: 1.5em;
    text-transform: initial;
  }
}

h3{
  font-size: 1.5em;
  margin-bottom: 0.9em;;
}