.burger-menu-input{
  display: none;
}

.burger-menu-label{
  font-size: 1.7em;
  z-index: 2;
  position: absolute;
  right: 6.66em;
  padding-right: 0.3em;
  top: -6.51em;
  padding-left: 0.35em;
  background-color: rgba(255,255,255,1);
  color: #000000;
  width: 1.5em;
  cursor: pointer;
  display: none;
  transition: right .7s;

  @media (max-width: 470px){
    display: inline;
  }

}

.burger-menu-close{
  display: none;
}

//checked

.burger-menu-input:checked{

  & ~ label{
    right: -0.6em;
    background-color: transparent;
    color: #ffffff;

    & .burger-menu-open{
      display: none;
    }

    & .burger-menu-close{
      display: inline;
    }
  }
}