.burger-menu-input{
  display: none;
}

.burger-menu-label{
  font-size: 1.7em;
  z-index: 2;
  position: absolute;
  right: 4.31em;
  padding: 0.384em 0.3em 0.384em 0.35em;
  top: 0;
  color: #ffffff;
  width: 1.5em;
  cursor: pointer;
  display: none;
  transition: right .7s;

  @media (max-width: 700px){
    display: inline;
  }

}

.burger-menu-close{
  display: none;
}

//checked

.burger-menu-input:checked{

  & ~ label{
    right: -0.6em;

    & .burger-menu-open{
      display: none;
    }

    & .burger-menu-close{
      display: inline;
    }
  }
}