.project-cta__article__thumbnail{
  transition-duration: 0.4s;
  width: 100%;
  max-width: 400px;
  height: 100%;
}

.project-cta__article__link{

  &:hover, &:focus{

    .project-cta__article__thumbnail{
      opacity: 0.5;
    }
  }


}